<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.nordicsemi.android.dfu">
    <!--需要硬件支持低功耗蓝牙-->
    <uses-feature android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

</manifest>
